.dropd-demo{
    h1{
        text-align: center;
    }

    .dropd-demo-box{
        h4{
            text-align: center;
        }

        width: 200px;
        height: 300px;
        display: inline-block;
        margin: 10px;
        border: 1px dashed #999;
        padding: 15px;
    }

    .show-box{
        .show-content{
            .sm-box,.md-box,.lg-box{
                margin: 20px 0;
            }
            .sm-box{
                width: 50px;
            }
            .md-box{
                width: 250px;
            }
            .lg-box{
                width: 350px;
            }
        }
    }
}
